.add-song-form {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
}

.add-song-form h2 {
  /*flex: 0.4;*/
}

.add-song-form form {
  animation: pulse 2s infinite;
  background: #000;
  border-radius: 5px;
  border: 2px solid #555;
  color: #e9e9e9;
  /*flex: 0.9;*/
  padding: 1em 0 1em;
  width: 500px;
}

.add-song-form form button {
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-appearance: button;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  -webkit-user-select: none;
  background-color: #333;
  background-image: none;
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 28px;
  line-height: 1.15;
  margin-top: 20px;
  margin-bottom: 0;
  outline: 0;
  padding: 5px 30px 20px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all .4s cubic-bezier(.645,.045,.355,1);
  user-select: none;
  white-space: nowrap;
}

.add-song-form button:hover {
  background-color: purple;
  border-color: purple;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(97,218,251, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(97,218,251, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(97,218,251, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(97,218,251, 0.4);
    box-shadow: 0 0 0 0 rgba(97,218,251, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(97,218,251, 0);
    box-shadow: 0 0 0 20px rgba(97,218,251, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(97,218,251, 0);
    box-shadow: 0 0 0 0 rgba(97,218,251, 0);
  }
}
